<a href="https://colab.research.google.com/github/DeveloperSeJin/Definition-of-Pathological-Image-Analysis-for-Cancer-Cla/blob/main/UNLV%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

data1 = pd.read_csv('./drive/MyDrive/UNLV_project/data_RNA_Seq_v2_mRNA_median_all_sample_Zscores.txt', sep='\t')
data2 = pd.read_csv('./drive/MyDrive/UNLV_project/data_bcr_clinical_data_patient.txt', sep='\t')

Mounted at /content/drive

In [2]:
data1 = data1.set_index('Hugo_Symbol', drop = True)

In [3]:
data1 = data1.T
data1.rename(index = lambda x : str(x).replace('-01', ''), inplace = True)
data1 = data1.iloc[1:]
data1

Hugo_Symbol,LOC100130426,UBE2Q2P3,UBE2Q2P3,HMGB1P1,TIMM23,MOXD2,LOC155060,RNU12-2P,SSX9,LOC317712,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,FLJ10821,ZZZ3,TPTEP1,AKR1C6P
TCGA-05-4244,-2.2883,0.0380,0.0691,-1.9057,-0.0395,NaN,1.0624,0.5387,-1.2501,NaN,...,-0.2092,-0.4448,-0.2293,-1.8833,0.9850,-0.4967,-0.2737,-0.4482,-1.0407,-1.2966
TCGA-05-4249,-2.2883,-0.3514,0.1971,-0.2950,0.1945,NaN,-0.0690,1.4599,-1.2501,NaN,...,0.7816,0.8157,0.4243,-0.1788,-0.1119,-0.8791,0.3183,0.0984,1.0324,-1.2966
TCGA-05-4250,-2.2883,-0.3435,-0.7239,-1.9091,0.7761,NaN,-1.4074,-2.1796,-1.2501,NaN,...,0.7041,0.0911,-0.6346,-0.0054,-1.8251,0.8248,0.3805,-0.6777,-1.0698,-1.2966
TCGA-05-4382,-2.2883,0.1873,-0.4402,-0.5333,-0.1787,NaN,0.5870,-0.6958,-0.9868,NaN,...,-0.1734,-0.0352,-0.2710,0.5825,0.3717,1.2704,0.3781,-0.0188,-0.0218,-1.2966
TCGA-05-4384,-2.2883,-1.2251,-1.3555,-0.8895,-1.1778,NaN,0.7614,-0.3706,-1.2501,NaN,...,1.3474,1.1341,0.7826,-0.7635,-0.1493,-0.1648,1.2559,0.2385,1.5166,-1.2966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-NJ-A55O,-2.2883,0.5729,1.0176,-0.0218,0.0408,NaN,0.6719,0.7543,-1.2501,NaN,...,-0.1517,-0.1613,0.2250,-0.2732,-0.3860,0.2930,0.6698,-0.3969,1.7447,-1.2966
TCGA-NJ-A55R,-2.2883,-0.1679,-0.0462,-0.8099,-0.3206,NaN,1.1540,-0.1200,-1.2501,NaN,...,0.3282,0.1494,1.1546,0.4441,-0.2421,-0.3319,1.5561,-0.2637,1.9706,0.5663
TCGA-NJ-A7XG,-2.2883,1.8645,2.7613,-0.4522,-0.6611,NaN,1.0220,-2.1796,-1.2501,NaN,...,-2.0722,-1.7646,0.5444,-0.6192,-1.4443,-1.2127,0.8153,-1.3431,-1.1463,-1.2966
TCGA-O1-A52J,-2.2883,0.4532,1.0870,-1.3473,0.7679,NaN,0.1428,2.9555,-1.2501,NaN,...,2.5448,1.1317,0.7244,-1.9766,-0.1344,0.4326,0.9605,-1.0035,1.0542,-0.3735
TCGA-S2-AA1A,-2.2883,0.9225,-0.2293,-0.7319,-1.1610,NaN,1.1789,-0.2677,-1.2501,NaN,...,0.7138,0.0837,1.8159,-0.8773,-0.9062,0.7905,1.0496,-0.8107,1.4044,-1.2966

In [4]:
data2 = data2.iloc[4:]
data2 = data2[['Patient Identifier', 'Overall Survival Status', 'Overall Survival (Months)']]
data2 = data2.set_index('Patient Identifier', drop = True)
data2

                   Overall Survival Status Overall Survival (Months)
Patient Identifier
TCGA-05-4244                      0:LIVING                         0
TCGA-05-4245                      0:LIVING                     23.98
TCGA-05-4249                      0:LIVING                     50.03
TCGA-05-4250                    1:DECEASED                      3.98
TCGA-05-4382                      0:LIVING                     19.94
...                                    ...                       ...
TCGA-NJ-A55O                      0:LIVING                      0.43
TCGA-NJ-A55R                      0:LIVING                     19.81
TCGA-NJ-A7XG                      0:LIVING                     20.27
TCGA-O1-A52J                    1:DECEASED                     59.07
TCGA-S2-AA1A                      0:LIVING                     16.85

[522 rows x 2 columns]

In [5]:
data = data2.merge(data1, left_on = 'Patient Identifier', right_index = True)

In [16]:
data.iloc[0:10]

,Overall Survival Status,Overall Survival (Months),LOC100130426,UBE2Q2P3,UBE2Q2P3,HMGB1P1,TIMM23,MOXD2,LOC155060,RNU12-2P,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,FLJ10821,ZZZ3,TPTEP1,AKR1C6P
Patient Identifier,,,,,,,,,,,,,,,,,,,,,
TCGA-05-4244,0:LIVING,0,-2.2883,0.0380,0.0691,-1.9057,-0.0395,NaN,1.0624,0.5387,...,-0.2092,-0.4448,-0.2293,-1.8833,0.9850,-0.4967,-0.2737,-0.4482,-1.0407,-1.2966
TCGA-05-4249,0:LIVING,50.03,-2.2883,-0.3514,0.1971,-0.2950,0.1945,NaN,-0.0690,1.4599,...,0.7816,0.8157,0.4243,-0.1788,-0.1119,-0.8791,0.3183,0.0984,1.0324,-1.2966
TCGA-05-4250,1:DECEASED,3.98,-2.2883,-0.3435,-0.7239,-1.9091,0.7761,NaN,-1.4074,-2.1796,...,0.7041,0.0911,-0.6346,-0.0054,-1.8251,0.8248,0.3805,-0.6777,-1.0698,-1.2966
TCGA-05-4382,0:LIVING,19.94,-2.2883,0.1873,-0.4402,-0.5333,-0.1787,NaN,0.5870,-0.6958,...,-0.1734,-0.0352,-0.2710,0.5825,0.3717,1.2704,0.3781,-0.0188,-0.0218,-1.2966
TCGA-05-4384,0:LIVING,13.99,-2.2883,-1.2251,-1.3555,-0.8895,-1.1778,NaN,0.7614,-0.3706,...,1.3474,1.1341,0.7826,-0.7635,-0.1493,-0.1648,1.2559,0.2385,1.5166,-1.2966
TCGA-05-4389,0:LIVING,44.97,-2.2883,-1.0032,0.3319,-1.1277,1.2262,NaN,-1.5780,-1.0817,...,1.3335,1.3870,-0.0618,0.6503,-1.4237,-0.7019,-0.8254,0.3594,-0.7404,-0.0844
TCGA-05-4390,0:LIVING,36.99,-2.2883,-0.3656,-0.4390,0.2097,0.7946,NaN,0.1791,0.9429,...,0.2314,1.7042,-0.8638,-0.7847,-0.9328,0.7560,-0.5176,-0.9222,-1.1213,-0.1306
TCGA-05-4395,1:DECEASED,0,-2.2883,-1.1610,0.1641,-1.5319,0.2882,NaN,-0.9388,-0.5490,...,-2.1805,-1.4020,-1.0247,-0.4046,-3.8105,0.6336,-1.6532,0.5367,-1.4285,-1.2966
TCGA-05-4396,1:DECEASED,9.95,-2.2883,0.4047,0.5320,0.1907,-0.0537,NaN,0.2838,-0.0387,...,1.4399,1.3986,1.3696,0.1440,-0.8322,-1.5639,0.8924,0.8405,-0.5494,-1.2966
TCGA-05-4397,1:DECEASED,24.01,-2.2883,-0.0314,-0.0326,-0.4877,1.3376,NaN,-0.7818,0.2225,...,0.6228,0.0015,0.4441,1.4894,0.0466,0.1271,-1.5261,0.4883,-0.0815,-1.2966

In [9]:
percent_missing = data.isnull().sum() * 100 / len(data)
missing_value_df = pd.DataFrame({'column_name': data.columns,
                                 'percent_missing': percent_missing})

,Overall Survival Status,Overall Survival (Months),LOC100130426,UBE2Q2P3,UBE2Q2P3,HMGB1P1,TIMM23,MOXD2,LOC155060,RNU12-2P,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,FLJ10821,ZZZ3,TPTEP1,AKR1C6P
Patient Identifier,,,,,,,,,,,,,,,,,,,,,
TCGA-05-4244,0:LIVING,0,-2.2883,0.0380,0.0691,-1.9057,-0.0395,NaN,1.0624,0.5387,...,-0.2092,-0.4448,-0.2293,-1.8833,0.9850,-0.4967,-0.2737,-0.4482,-1.0407,-1.2966
TCGA-05-4249,0:LIVING,50.03,-2.2883,-0.3514,0.1971,-0.2950,0.1945,NaN,-0.0690,1.4599,...,0.7816,0.8157,0.4243,-0.1788,-0.1119,-0.8791,0.3183,0.0984,1.0324,-1.2966
TCGA-05-4250,1:DECEASED,3.98,-2.2883,-0.3435,-0.7239,-1.9091,0.7761,NaN,-1.4074,-2.1796,...,0.7041,0.0911,-0.6346,-0.0054,-1.8251,0.8248,0.3805,-0.6777,-1.0698,-1.2966
TCGA-05-4382,0:LIVING,19.94,-2.2883,0.1873,-0.4402,-0.5333,-0.1787,NaN,0.5870,-0.6958,...,-0.1734,-0.0352,-0.2710,0.5825,0.3717,1.2704,0.3781,-0.0188,-0.0218,-1.2966
TCGA-05-4384,0:LIVING,13.99,-2.2883,-1.2251,-1.3555,-0.8895,-1.1778,NaN,0.7614,-0.3706,...,1.3474,1.1341,0.7826,-0.7635,-0.1493,-0.1648,1.2559,0.2385,1.5166,-1.2966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-NJ-A55O,0:LIVING,0.43,-2.2883,0.5729,1.0176,-0.0218,0.0408,NaN,0.6719,0.7543,...,-0.1517,-0.1613,0.2250,-0.2732,-0.3860,0.2930,0.6698,-0.3969,1.7447,-1.2966
TCGA-NJ-A55R,0:LIVING,19.81,-2.2883,-0.1679,-0.0462,-0.8099,-0.3206,NaN,1.1540,-0.1200,...,0.3282,0.1494,1.1546,0.4441,-0.2421,-0.3319,1.5561,-0.2637,1.9706,0.5663
TCGA-NJ-A7XG,0:LIVING,20.27,-2.2883,1.8645,2.7613,-0.4522,-0.6611,NaN,1.0220,-2.1796,...,-2.0722,-1.7646,0.5444,-0.6192,-1.4443,-1.2127,0.8153,-1.3431,-1.1463,-1.2966
TCGA-O1-A52J,1:DECEASED,59.07,-2.2883,0.4532,1.0870,-1.3473,0.7679,NaN,0.1428,2.9555,...,2.5448,1.1317,0.7244,-1.9766,-0.1344,0.4326,0.9605,-1.0035,1.0542,-0.3735
TCGA-S2-AA1A,0:LIVING,16.85,-2.2883,0.9225,-0.2293,-0.7319,-1.1610,NaN,1.1789,-0.2677,...,0.7138,0.0837,1.8159,-0.8773,-0.9062,0.7905,1.0496,-0.8107,1.4044,-1.2966

In [ ]:
missing_value_df.sort_values('percent_missing', inplace=True)

In [ ]:
percent_missing

Overall Survival Status      0.0
Overall Survival (Months)    0.0
LOC100130426                 0.0
UBE2Q2P3                     0.0
UBE2Q2P3                     0.0
                            ...
ZYX                          0.0
FLJ10821                     0.0
ZZZ3                         0.0
TPTEP1                       0.0
AKR1C6P                      0.0
Length: 20533, dtype: float64

In [ ]:
missing_value_df

                                     column_name  percent_missing
Overall Survival Status  Overall Survival Status              0.0
PLAC4                                      PLAC4              0.0
TINCR                                      TINCR              0.0
PLAC1                                      PLAC1              0.0
OOSP2                                      OOSP2              0.0
...                                          ...              ...
SNORD116-29                          SNORD116-29            100.0
SNORD116-27                          SNORD116-27            100.0
SNORD116-26                          SNORD116-26            100.0
SNORD116-8                            SNORD116-8            100.0
SNORD123                                SNORD123            100.0

[20533 rows x 2 columns]

In [ ]:
percent_missing = data.isnull().sum() * 100 / len(data)
percent_missing

Overall Survival Status      0.0
Overall Survival (Months)    0.0
LOC100130426                 0.0
UBE2Q2P3                     0.0
UBE2Q2P3                     0.0
                            ...
ZYX                          0.0
FLJ10821                     0.0
ZZZ3                         0.0
TPTEP1                       0.0
AKR1C6P                      0.0
Length: 20533, dtype: float64